body .cps-image {
    height: unset !important;
}

body .cps-info {
    width: 90% !important;
    margin: auto !important;
}

body a.cps-btn {
    text-transform: uppercase;
    color: #161616;
    border-bottom-color: #161616;
}

body .cps-info h3.cps-title {
    text-transform: uppercase;
    font-size: 26px !important;
}

body .swiper-button-next,
body .swiper-button-prev {
    background: #161616 !important;
    height: 140px !important;
    transition: .3s !important;
}

body .swiper-button-next:hover,
body .swiper-button-prev:hover {
    background: #e3000b !important;
}

body .swiper-button-next:after,
body .swiper-button-prev:after {
    font-size: 24px !important;
    color: #fff !important;
}